
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Rastplaneraren.iml
.idea/vcs.xml
.idea/workspace.xml
/source/settings.xml
/source/schema.xlsx
source/__pycache__/settings.cpython-310.pyc
-Lappen.gitattributes
-Lappen.gitignore
.idea/misc-Lappen.xml
.idea/workspace-Lappen.xml
source/__pycache__/settings.cpython-311.pyc
source/main-Lappen.py
source/settings-Lappen.xml
-DESKTOP-NMNG2RK.gitignore
-Lappen-2.gitignore
.idea/workspace-Lappen-2.xml
windows executable/settings.xml
source/__pycache__/plan_breaks.cpython-310.pyc
.idea/encodings.xml
source/__pycache__/default_settings.cpython-310.pyc
source/__pycache__/default_settings.cpython-311.pyc
source/__pycache__/plan_breaks.cpython-311.pyc
source/log/error2023-4-11_11-39-34.log
source/log/log2023-4-11.log
